body {
    max-width: 650px;
    margin: 0 auto;
    width: 100%;
}
h1 {
    color: red;
}
img {
    max-width: 300px;
    width: 100%;
    margin-bottom: 8px;
}

input {
    border: 1px solid #313131;
    padding: 5px;
}
button {
    cursor: pointer;
    border: 1px solid #313131;
    background: #313131;
    color: #fff;
    padding: 5px;
}

.nav {margin-bottom: 12px;}

.footer {
    background: #313131;
    padding: 12px 15px;
    color: #fff;
    text-align: center;
}
.footer p {margin: 0;}